In [1]:
import numpy as np
import pandas as pd
import sqlite3

**Kiem tra cac bang**

In [5]:
conn = sqlite3.connect('database/example.db')
cursor = conn.cursor()

In [31]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
res = cursor.fetchall()
res

[('nhanvien',), ('phongban',)]

In [21]:
cursor.description

(('name', None, None, None, None, None, None),)

**Kiem tra bang phongban**

In [28]:
cursor.execute("SELECT * FROM phongban")
cursor.fetchall()

[(1, 'Phong Nhan Su', None),
 (2, 'Phong Ke Toan', None),
 (3, 'Phong Phong San Xuat', None),
 (4, 'Phong Kinh Doanh - Marketing', None),
 (5, 'Phong Ky Thuat', None),
 (6, 'Phong R&D', None)]

In [24]:
cursor.rowcount

-1

In [29]:
cursor.execute("SELECT * FROM phongban")
print(cursor.fetchone())
print(cursor.fetchone())
print(cursor.fetchone())

(1, 'Phong Nhan Su', None)
(2, 'Phong Ke Toan', None)
(3, 'Phong Phong San Xuat', None)

In [34]:
for row in cursor.execute("SELECT * FROM phongban"):
    print(row)

(1, 'Phong Nhan Su', None)
(2, 'Phong Ke Toan', None)
(3, 'Phong Phong San Xuat', 2)
(4, 'Phong Kinh Doanh - Marketing', None)
(5, 'Phong Ky Thuat', None)
(6, 'Phong R&D', None)

**Kiem tra bang nhanvien**

In [35]:
cursor.execute("SELECT * FROM nhanvien")
cursor.fetchall()

[(1, 'Tran', 'Van A', 'atran@gmail.com', 3, 2, None, 15000.0),
 (2, 'Nguyen', 'Van B', 'bnguyen@gmail.com', 3, None, None, 11000.0)]