# Thực hiện lại phần demo trên dữ liệu InstaCart

* Sử dụng hàm 'interactive' thay cho hàm 'interact'

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import ipywidgets as widgets
import squarify
from IPython.display import display, clear_output
from matplotlib.widgets import Button

In [2]:
df = pd.read_csv('data/aisle_deparment_counts.csv')
df.head(5)

   aisle_id  counts                   aisle  department_id department
0         1   15632   prepared soups salads             20       deli
1        13   21357          prepared meals             20       deli
2        14   28085  tofu meat alternatives             20       deli
3        67   76837    fresh dips tapenades             20       deli
4        96   85093              lunch meat             20       deli

In [3]:
N = 20
df1 = df[['counts', 'aisle']][0:N]
other_count = df['counts'][N:].sum()
other = pd.DataFrame({'counts': [other_count], 'aisle': ['others']})
df2 = pd.concat([df1,other], ignore_index=True)
df2

     counts                          aisle
0     15632          prepared soups salads
1     21357                 prepared meals
2     28085         tofu meat alternatives
3     76837           fresh dips tapenades
4     85093                     lunch meat
5     17897              specialty cheeses
6    211480                packaged cheese
7     54690                         butter
8     68635                          cream
9      8199  refrigerated pudding desserts
10   192052                           milk
11    97746                           eggs
12   138111                soy lactosefree
13    66386           other creams cheeses
14   313279                         yogurt
15    98222            energy granola bars
16    35179                  popcorn jerky
17    64790                candy chocolate
18     4840                       mint gum
19    38232         fruit vegetable snacks
20  5363258                         others

In [4]:
# Tạo ra một output widget và sử dụng interactive
def VeTreemap(N=20):
    df2 = df[['counts', 'aisle']][0:N]
    other = pd.DataFrame({'counts': [df['counts'][N:].sum()], 'aisle': ['others']})
    df2 = df2.append(other , ignore_index=True)

    fig,ax=plt.subplots(figsize=(15,7))
    squarify.plot(sizes=df2['counts'], label=df2['aisle'])
    plt.axis('off')
    plt.show()
    plt.close('all')

# Hiển thị slideload
w0 = widgets.IntSlider(description='Top:', value=20, min=0, max=50, step=5)
# Tạo kết nối từ các widgets trong box đến hàm
wInKetQua = widgets.interactive(VeTreemap, N=w0)

# Hiển thị output widget
display(wInKetQua)

interactive(children=(IntSlider(value=20, description='Top:', max=50, step=5), Output()), _dom_classes=('widge…

* Bổ sung thêm Button sao cho sau khi chọn các options xong, phải click lên Button mới thực hiện vẽ lại figure

In [5]:
# Tạo ra một output widget và sử dụng interactive
op = widgets.Output(layout={'border': '1px solid black'})
def clickedd(b):
    op.clear_output()
    with op:
        df2 = df[['counts', 'aisle']][0:slide.value]
        other = pd.DataFrame({'counts': [df['counts'][slide.value:].sum()], 'aisle': ['others']})
        df2 = df2.append(other , ignore_index=True)

        fig,ax=plt.subplots(figsize=(15,7))
        squarify.plot(sizes=df2['counts'], label=df2['aisle'])
        plt.axis('off')
        plt.show()
        plt.close('all')
    
# Hiển thị slideload
slide = widgets.IntSlider(description='Top:', value=20, min=0, max=50, step=5)
# Button
butt = widgets.Button(description='Chọn',
                         button_style='info',
                         tooltip='Bấm vào đây',
                         icon='check' # 'fa-bullhorn', 'bullhorn','folder-open',...
              )
# butt.on_click(clickk)
butt.on_click(clickedd)
# Hiển thị output widget
display(slide,butt,op)

IntSlider(value=20, description='Top:', max=50, step=5)

Button(button_style='info', description='Chọn', icon='check', style=ButtonStyle(), tooltip='Bấm vào đây')

Output(layout=Layout(border='1px solid black'))